Repository dende-h/cicd: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-serverspec, run-circleci, run-ansible, run-development-terraform-build, run-modules-terraform-build, run-not-destroy=false, run-raisetech-sample-config

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            ServerSpec/.* run-serverspec true
            .circleci/.* run-circleci true
            ansible/.* run-ansible true
            terraform/environments/development/.* run-development-terraform-build true
            terraform/modules/.* run-modules-terraform-build true
            destroy/.* run-not-destroy false
            ^((?!terraform/).)*$ run-raisetech-sample-config true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/auto_deployment_config.yml

fix:デプロイワークフローのトリガーパラメータ修正
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:デプロイワークフローのトリガーパラメータ修正
  .circleci/auto_deployment_config.yml
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

fix：destroy
  destroy/destroy.txt
Due: run-not-destroy=false, run-raisetech-sample-config

add:コメント追加
  terraform/environments/development/main.tf
Due: run-development-terraform-build

add:コメント追加
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:config.yml変更
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

fix:readme修正とタイポ修正
  README.md
  terraform/environments/development/main.tf
  terraform/modules/database/main.tf
  terraform/modules/database/variables.tf
  terraform/modules/network/main.tf
  terraform/modules/network/outputs.tf
  terraform/modules/network/variables.tf
Due: run-development-terraform-build, run-modules-terraform-build, run-raisetech-sample-config

fix:readme修正
  README.md
Due: run-raisetech-sample-config

fix:config.yml修正
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

change:pushの際余計なジョブ走らないよう調整中。plan-out出力確認
  .circleci/auto_deployment_config.yml
  .circleci/config.yml
  README.md
  destroy/destroy.txt
  images/readme/add_env_var.png
  terraform/environments/development/backend.tf
  terraform/environments/development/main.tf
  terraform/environments/development/variables.tf
  terraform/modules/compute/variables.tf
  terraform/modules/storage/variables.tf
Due: run-circleci, run-development-terraform-build, run-modules-terraform-build, run-not-destroy=false, run-raisetech-sample-config

change:変数指定の箇所を定数に変更
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

fix:変数名打ち間違い修正
  terraform/environments/development/variables.tf
Due: run-development-terraform-build

fix:backend設定変更
  .circleci/auto_deployment_config.yml
  terraform/environments/development/backend.tf
Due: run-circleci, run-development-terraform-build, run-raisetech-sample-config

fix:Bucket名変更
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:Bucket名変更変更し忘れ修正
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:タイポ修正
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:スクリプト修正
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fixワークフローをブランチごとに分ける
  .circleci/auto_deployment_config.yml
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

add:terraform planの差分検証のロジック
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

add:ワークフローに追加
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

change:executorの変更
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

fix:script修正
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

change:reademeの更新
  .circleci/auto_deployment_config.yml
  README.md
  images/readme/add_env_var.png
  images/readme/gitswich.png
Due: run-circleci, run-raisetech-sample-config

readme変更
  README.md
Due: run-raisetech-sample-config

config.yml変更
  .circleci/config.yml
  README.md
Due: run-circleci, run-raisetech-sample-config

config.yml変更
  .circleci/config.yml
Due: run-circleci, run-raisetech-sample-config

destroy
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config

destroy:false
  .circleci/auto_deployment_config.yml
Due: run-circleci, run-raisetech-sample-config
